# Configuración de Base de Datos
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=api

# Configuración de Servidor
SERVER_ENV=development
# development | production

# Configuración de API
API_URL=http://localhost/api/api
API_PORT=80

# Configuración de Swagger
SWAGGER_ENABLED=true
SWAGGER_URL=/swagger-ui.html
